header{
    border-bottom: 2px solid rgb(0,0,0);
    display: flex;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    
}
ul li a{
    text-decoration: none;
    color: rgb(0, 153, 0);
}
nav{
    margin-left: auto;
    align-items: center;
}
header h1{
    text-transform: uppercase;
}

