body{
    background: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    background-color: rgb(255, 255, 255);
}

.card{
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 13px -1px black;
    padding: 10px 20px 20px 10px;
    border-radius: 10px;
}